<footer>
    <div class="ft-box">
        <div class="ft-icon">
            <i class="ri-facebook-box-fill"></i>
            <i class="ri-youtube-fill"></i>
            <i class="ri-linkedin-box-fill"></i>
        </div>
        <div class="ft-main">
            &copy; 2024 WanderLust ind
        </div>
        <div class="ft-term">
            <a href="#">Privacy</a>
            &middot;
            <a href="#">Term</a>
        </div>
    </div>
</footer>