<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-lg-6 offset-lg-3 col-10 offset-1">
            <h3 class="mt-3">SignUp On WanderLust</h3>
            <form method="post" action="/signup" novalidate class="needs-validation">       
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" required name="username" class="form-control" id="username">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback"> Username is Required</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" required name="email" class="form-control" id="email">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback"> Email is Required</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" required name="password" class="form-control" id="password">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback"> Password is Required</div>
                </div>
                <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>
</body>